.title {
  font-size: medium;
  font-weight: 600;

  .subTitle {
    font-weight: normal;
    .knowledgeText {
      color: #19405f;
      font-size: small;
    }
  }
}

.top {
  .first-section {
    background-color: #90c2e9;
  }
  .second-section {
    background-color: #90c2e9;
  }
}
